
/__pycache__
FileChooser_Favorites.pref
preferences15.0.nk
recent_files
ScriptEditorHistory.xml
tab_stats.dat
uistate.ini
/Workspaces
/DepthCrafterPlugin/demo_output/*
DepthCrafterPlugin/diffusion_pytorch_model.safetensors
